APP_NAME=SmartSpaceBackend
APP_ENV=development
APP_DEBUG=true
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=smartspace_ar
DB_USERNAME=smartspace_user
DB_PASSWORD=smartspace_password
DB_TIMEOUT=5
DB_CONNECTION_LIMIT=10

